# Production Environment Variables
SECRET_KEY=django-insecure-ip7pd902uilruyv$k6v01^!h#4=eenwqd$s=l5lb8o4(p^=*%!
DEBUG=False
ALLOWED_HOSTS=*

# Telegram Bot
BOT_TOKEN=8706205290:AAGYsyaQHmx1n5EVo9I3T9Ecjz4Xyz_xEZg

# PostgreSQL (Docker ichidagi sozlamalar)
DB_ENGINE=django.db.backends.postgresql
DB_NAME=payroll_db
DB_USER=payroll_user
DB_PASSWORD=payroll_secure_pass_2026
DB_HOST=db
DB_PORT=5432

